@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none; /* WebKit */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* WebKit */
}

.button-bg {
  transition: var(--animation-default), 0.2s ease-in-out;
}